{% extends 'base.html' %}

{% block title %}Django CRUD Tutorial{% endblock %}

{% block content %}
<div class="col-6">
    <div class="text-center m-5">
        <p><strong>Are you sure you want to delete:</strong></p>
        <p>"{{todo.name}}"</p>
        <div class="d-flex justify-content-center">
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="Confirm" class="btn btn-primary">
            </form>
            <a href="{% url 'index' %}" class="btn btn-secondary mx-2">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}