{% extends 'user_accounts/base.html' %}
{% block title %}PDF Editor - Change Password{% endblock %}

{% block content %}
<div class="col-6 px-5">
    <h3 class="text-center my-5">Change Password!</h3>  
    <form method="post">
        <label for="old_password" class="form-label">Enter Old Password</label>
        <div class="input-group mb-3">
            <input type="password" id="old_password" class="form-control rounded-0" name="old_password" aria-describedby="basic-addon" required>
            <span class="input-group-text rounded-0" id="basic-addon"><i class="bi bi-eye-fill"></i></span>
        </div>
        <label for="password" class="form-label">Enter New Password</label>
        <div class="input-group mb-3">
            <input type="password" id="password" class="form-control rounded-0" name="password" aria-describedby="basic-addon1" required>
            <span class="input-group-text rounded-0" id="basic-addon1"><i class="bi bi-eye-fill"></i></span>
        </div>
        <label for="password2" class="form-label">Confirm Password</label>
        <div class="input-group mb-3">
            <input type="password" id="password2" class="form-control rounded-0" name="password2" aria-describedby="basic-addon2" required>
            <span class="input-group-text rounded-0" id="basic-addon2"><i class="bi bi-eye-fill"></i></span>
        </div>
        <div class="text-center my-4">
            <input type="submit" value="Save" class="btn btn-primary rounded-0">
        </div>
    </form>
    <p class="my-4"><a href="{% url 'index' %}">Go Back</a></p>
</div>
{% endblock %}
{% block javascript %}
<script>
    let old_password = document.getElementById("old_password");
    document.getElementById('basic-addon').addEventListener('click', function() {
        if (old_password.type == 'password') {
            old_password.type = 'text';
        } else {
            old_password.type = 'password';
        }
    });
    let password = document.getElementById("password");
    document.getElementById('basic-addon1').addEventListener('click', function() {
        if (password.type == 'password') {
            password.type = 'text';
        } else {
            password.type = 'password';
        }
    });
    let password2 = document.getElementById("password2");
      document.getElementById('basic-addon2').addEventListener('click', function() {
        if (password2.type == 'password') {
            password2.type = 'text';
        } else {
            password2.type = 'password';
        }
    });
    // Sign Up
    $(document).ready(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var passwordRegex = /^(?=\S{8,}$)\S+$/;

            let old_password = $("#old_password").val();
            let password = $("#password").val();
            let password2 = $("#password2").val();
            if(!passwordRegex.test(password)){
                toastr.warning("Password should contain at least 8 characters and without any spaces!")
            }else if(password != password2){
                toastr.warning("Passwords do not match!")
            }else{
                $.ajax({
                    url: 'change_pass',
                    type: 'POST',
                    data: {old_password : old_password,
                        password : password,
                        password2 : password2,
                    },
                    success: function (res) {
                        if (res.status == 200) {
                            toastr.success(res.msg);
                        }else if(res.status == false) {
                            toastr.warning(res.msg);
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error("Error Creating User!");
                        console.error(xhr, status, error);
                    }
                });
            }
        });
    });
</script>
{% endblock %}